@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 246, 156);
}

.seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.titulo{
    color: rgb(255, 111, 181);
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}
 .subtitulo{
    color: rgb(255, 111, 181);
    font-size: 20px;
 }

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: rgb(85, 216, 193);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(171, 70, 210);
    border-radius: 20px;
    display: flex;
    color: rgb(171, 70, 210);
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none;
}

input:checked + label{
    width: 180px;
    background-color: rgb(193, 239, 255);
}

.boton-mascotas{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgb(171, 70, 210);
    color: rgb(255, 111, 181); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 30px;
}

.seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color:rgb(85, 216, 193);
    border: 1px solid rgb(171, 70, 210);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100px;
    color: rgb(171, 70, 210); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;   
}

.mensajes{
    width: 280px;
    height: 38px;
    background: rgb(255, 111, 181);
    color: rgb(252, 246, 156);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-reiniciar{
    border: transparent;
    border: 1px solid rgb(171, 70, 210);
    background-color:rgb(85, 216, 193);
    color: rgb(171, 70, 210);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    border-radius: 5px;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    color: rgb(255, 111, 181);
    font-size: 18px;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 450px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}
